## env
.env

# build output
dist
.next
built-lambda

# dependencies
node_modules
package-lock.json
yarn.lock
!/yarn.lock
test/node_modules

# logs & pids
*.log
pids

# coverage
.nyc_output
coverage

# test output
test/**/out*
test/**/next-env.d.ts

# Editors
**/.idea
.vscode

# example output
examples/**/out

## mac
.DS_Store
